{% extends 'API::kitten.twig' %}

{% block title %}
    {{ parent() }}
    - Détail du chaton {{ id }}
{% endblock %}

{% block body %}
    <h1>Détail du chaton n°{{ id }}</h1>
    <p>
        Description du chaton ...
    </p>
    <a href="{{ path("homepage") }}">Retour à l'accueil</a>
{% endblock %}