{% extends '::layout.twig' %}
{% extends '::base.twig' %}

{% block title %}
    Saveuquate: Bienvenue !
{% endblock %}

{% block body %}
    Salut chers amis "Un chat suffit" !
    <a href="{{ path('homepage') }}">Accueil</a>
{% endblock %}